


body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

table {
  border-collapse: collapse;
}


.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
  display: inline-block;
  text-align: left;
}
