


body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

table {
  border: 1px; 
  bordercolor: "#000000";
  border-collapse: collapse;
  border-spacing: 5px;
}

.outer {
  width: 920px;  
  height: 580px;  
  position: absolute;  
  top: 50%;  
  left: 50%;  
  margin: -310px 0 0 -480px;  
  padding: 20px;  
}

.inner{
  display: flex;
  justify-content: center;
}
