

body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.title{
	font-weight:normal;
	font-size:150%;
	text-align:center;
	line-height:1;
	margin:78px 0;
}

.title a{
	text-decoration: none;
	color: #000000;
}

.title a:hover {
	text-decoration: none;
	color: #000000;
}

.title a:visited {
	color: #000000;
}

.sub{
	font-weight:normal;
	font-size:120%;
	text-align:center;
	line-height:1;
	margin:39px 0;
}

.contentWrapper{
	width:1140px;
	margin:0 auto 60px;
	position:relative;
	clear:both;
}
.contentWrapper:after{
	content:"";
	display:block;
	clear:both;
}	

.modalcontent p{
	line-height:1.8;
}

#company table{
	width:740px;
	margin:0 auto;
	border-top:1px solid #CCC;
}	
#company table th{
	font-weight:normal;
	white-space:nowrap;
}
#company table th,
#company table td{
	padding:1.6em;
	border-bottom:1px solid #CCC;
}

#policy {
	width:740px;
	margin:0 auto;
	border-top:1px solid #CCC;
}

@media screen and (max-width: 740px){
	#company table{
		width:auto;
	}	
	#company table th,
	#company table td{
		padding:1.6em 10px;
	}
	#policy {
		width:auto;
	}	
	.contentWrapper{
		width:auto;
		margin:0 7px 60px;
	}
	.contentWrapper.content-top{
		padding-top:5px;
	}
