

body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  width: 100%;
  height: 100%;
}

table, td {
  border: 1px #000000 solid;
  border-collapse: collapse;
  word-break: break-word;
}




