

body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

table, td {
  border: 1px #000000 solid;
  border-collapse: collapse;
  padding: 10px 20px;
  word-break: break-word;
}




