

body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

table {
  width: 100%;
}
table tr {
  display: block;
  float: left;
}
table tr td, table tr th {
  display: block;
  height: 40px;
}
table thead {
  display: block;
  float: left;
  width: 30%;
}
table thead tr {
  width: 100%;
}
table tbody {
  display: block;
  float: left;
  width: 70%;
}
table tbody tr {
  width: 30%;
 }





