html,

* {
	border-radius: 0;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
}



