<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" media="all">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="contentWrapper" id="company">
<h2 class="title">COMPANY<br>
<span>会社概要</span></h2>
<table>
<tr>
<th>商号</th>
<td>株式会社　(英文社名： ）</td>
</tr>
<tr>
<th>設立年月日</th>
<td>年（平成年）月 日</td>
</tr>
<tr>
<th>所在地</th>
<td></td>
</tr>
<tr>
<th>役員</th>
<td>代表取締役社長　<br>
取締役副社長　<br>
取締役　<br>
取締役　<br>
監査役　</td>
</tr>
<tr>
<th>資本金</th>
<td>円</td>
</tr>
<tr>
<th>株主</th>
<td><a href="" target="_blank">株式会社</a>（100%保有）</td>
</tr>
<tr>
<th>営業年度</th>
<td>3月1日から2月末日</td>
</tr>
<tr>
<th>事業内容</th>
<td></td>
</tr>
</table>
</div>
</body>
</html>
