<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>株式会社シモキタコイン</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" media="all">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="contentWrapper">
<h2 class="title"><a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/skcn_logo.png" alt=""></a></h2>
</div>
<div class="contentWrapper" id="news">
<h2 class="sub">お知らせ</h2>
<p>
2018年5月21日　日経MJ（6面）にシモキタコインに関する記事が掲載されました<br>
2018年3月26日　日本経済新聞に記事が掲載されました <a href="https://www.nikkei.com/article/DGXMZO28557570V20C18A3TJC000/" target="_blank">［パイプドＨＤ、下北沢で電子地域通貨］</a><br>
2018年3月26日　<a href="https://lcoin.jp/news/20180326/" target="_blank">株式会社シモキタコイン設立および業務開始のお知らせ</a><br>
</p>
</div>
<div class="contentWrapper" id="company">
<h2 class="sub">会社概要</h2>
<table>
<tr>
<th>商号</th>
<td>株式会社シモキタコイン（英文社名：Shimokita Coin, Inc.）</td>
</tr>
<tr>
<th>所在地</th>
<td>〒155-0031<br>
東京都世田谷区北沢2丁目10番15号<br>
藤和下北沢ハイタウンA棟303</td>
</tr>
<tr>
<th>設立年月日</th>
<td>2018年3月26日</td>
</tr>
<tr>
<th>資本金</th>
<td>525万円（資本準備金：525万円）</td>
</tr>
<tr>
<th>株主</th>
<td><a href="https://lcoin.jp/" target="_blank">株式会社エルコイン</a>（95.2%保有）<br>
<a href="https://love-shimokitazawa.jp/" target="_blank">株式会社アイラブ</a>（4.8%保有）</td>
</tr>
<tr>
<th>役員</th>
<td>代表取締役社長　鎌形渉<br>
取締役　西山友則<br>
取締役　佐谷宣昭<br>
監査役　大屋重幸</td>
</tr>
<tr>
<th>事業年度</th>
<td>3月1日から2月末日</td>
</tr>
<tr>
<th>事業内容</th>
<td>下北沢エリアの電子地域通貨事業</td>
</tr>
<tr>
<th>方針</th>
<td><a href="{{ .Site.BaseURL }}policy">反社会的勢力との関係遮断の基本方針</a></td>
</tr>
</table>
</div>
</body>
</html>
